html {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    min-width: min-content;
    font-family: 'Lato', sans-serif;
}

h1 {
    width: max-content;
    text-align: center;
    margin: auto;
    

}

body {
    display: grid;
}

main {
    display: flex;
    flex-direction: column;

    max-width: min-content;
    margin: auto;
    align-items: center;
}

#titleBar {
    
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 9%, rgba(148,187,233,0) 94%);
    width: max-content;
    margin:auto;
    padding: 2.5% 10%;
    border-top: 10px ridge #717171;
    border-bottom: 10px groove #717171;
}
scoreboards-div {
    display: flex;
    justify-content: center;
    width: min-content;
    align-items: stretch;
}


.scoreBoard {
    background-color: rgb(176, 176, 176);
    width: 1fr;
    margin: 1.5%;
    border:12px ridge #005e6a;
    box-shadow:0px 0px 15px 4px #000000;

}
.scoreBoard h3 {
    text-align: center;
    text-decoration: underline;
    
    /*text-shadow:0px 0px 5px #000000;
    */
}
.scoreBoard h4 {
    text-align: center;
}
table {
    width: 100%;
}
td {
    border: 1px solid #999;
    text-align: center;
}

#CardGrid {
/*Container for the game board*/
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr;*/
    background-color: rgb(201, 201, 201);
    z-index: 1;
    width: 100%;
    margin: auto;
    min-width: -webkit-fill-available;
    
    
-webkit-box-shadow: 10px 10px 5px 0px rgba(255,0,106,0.29);
-moz-box-shadow: 10px 10px 5px 0px rgba(255,0,106,0.29);
box-shadow: 10px 10px 5px 0px rgba(255,0,106,0.29);

-webkit-border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
border-radius: 15px 15px 15px 15px;
border: 7px outset rgba(0,126,146,0.48);
    
}

dashboard-div {
    
    -webkit-border-radius: 38px 38px 38px 38px;
    -moz-border-radius: 38px 38px 38px 38px;
    border-radius: 38px 38px 38px 38px;
overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgb(0, 0, 0);
    margin: 5% 0;
    min-width: max-content;
    -webkit-box-shadow: 3px -5px 15px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -5px 15px 3px rgba(0,0,0,0.75);
box-shadow: 3px -5px 15px 3px rgba(0,0,0,0.75);
border: 6px inset #008599;
}

dashboard-div h2 {
    text-align: center;


    background: rgb(255,0,227);
    margin: 0 0;

background: linear-gradient(144deg, rgba(255,0,227,0.6498307941340599) 0%, rgba(255,255,255,1) 50%, rgba(41,136,176,0.8683181890920431) 100%);
}

dashboard-flex {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1;
    
}
dashboard-flex h3 {
    margin-top: 5%;
    margin-bottom: 5%;
}


dashboard-flex h4 {
    margin: 0;
    font-size: small;
    text-align: center;
    margin-bottom: 0;
}
dashboard-flex p {
    margin: 0;
    margin-bottom: 5%;
    margin-top:3%;
}



dash-box {
    background-color: antiquewhite;
    flex: 1;
}


card-obj {
    background-color: azure;
    text-align: center;
    font-size: 5em;
    height: 1em;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;

    border: 4px solid #1C6EA4;
    border-radius: 30%;
    margin: 5% 3%;
    padding-bottom: 0.2rem;
    
-webkit-box-shadow: 1px 5px 11px 13px rgba(0,0,0,0.27) inset;
-moz-box-shadow: 1px 5px 11px 13px rgba(0,0,0,0.27) inset;
box-shadow: 1px 5px 11px 13px rgba(0,0,0,0.27) inset;
}

card-obj card-image {
    opacity: 0;
    margin: none;

    
}

#settingsMenu {
    display: flex;
    flex-direction: column-reverse;
    background-color: beige;
    margin: 1em 0 0 0;
    width: 50%;
    max-width: 500px;
}
.optionDiv {
    flex: 1;
    
    
}

#restartDiv {
    height: 200px;
    width: 33%;
    margin-top: 0;
    margin-bottom: 3em;
    position: relative;
    z-index: 5;
bottom: +7px;

-webkit-box-shadow: 5px 5px 10px 3px rgba(255,0,106,0.29);
-moz-box-shadow: 5px 5px 10px 3px rgba(255,0,106,0.29);
box-shadow: 5px 5px 10px 3px rgba(255,0,106,0.29);
-webkit-border-radius: 0px 0px 38px 38px;
-moz-border-radius: 0px 0px 38px 38px;
border-radius: 0px 0px 38px 38px;

    
}
#restartDiv button {
    width: 100%;
    height: 5em;
    padding: 5% 0%;
    font-weight: bold;
    border-top: 10px ridge rgba(126,0,77,0.68);
border-right: 10px ridge rgba(126,0,77,0.68);
border-bottom: 10px groove rgba(126,0,77,0.68);
border-left: 10px groove rgba(126,0,77,0.68);
z-index: 3;

-webkit-border-radius: 0px 0px 38px 38px;
-moz-border-radius: 0px 0px 38px 38px;
border-radius: 0px 0px 38px 38px;
}

#gameplaySettings{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 3px ridge #b38eb1;
    
}

#gameplaySettings form-flex{
    width: 100%;
    display: flex;
    
}

#gameplaySettings form-flex fieldset{
    width: 75%;
    align-items: center;
    border: 5px ridge #ffd0f8;
}

#gameplaySettings form {
    width: 100%;
    display: grid;
    justify-items: center;
    
}
#gameplaySettings form button{
    width: 50%;
    height: 3em;
}

#gameplaySettings legend {
    font-weight: bold;
    text-align: center;
}

#applySettings {

    align-items: center;
    align-self: center;
}


@media screen and (max-width: 1280px) {
    #gameplaySettings form button{
        width: 25%;
        height: 3em;
    }
    main {
        max-width: max-content;
        
    }
    dashboard-div{
        margin: 2.5% 2%;

    }
    #titleBar{
        padding: 0;
    }
    #CardGrid {
    width: 95%;
    }
    #settingsMenu {
        width: 100%;
        max-width: 100%;
    }
    #applySettings {
        font-size: x-large;
        width: 25%;
        padding: 2% 0% 5%;
        
    }
}

@media screen and (max-width: 880px){
    #gameplaySettings form button{
        width: 100%;
        height: 6em;
    }
    
    scoreboards-div {
        flex-direction: column;
        width: 80%;
        align-items: center;
    }
    dash-box {
        font-size: larger;
    }
    dash-box p {
        font-size: large;
        margin: 2%;
    }
    .scoreBoard {
        width: 100%;
        font-size: x-large;
    }

    #restartDiv {
        width: 80%;
        bottom: 0;
        margin-top: 10%;
        border-radius: 38px 38px 38px 38px;
    }

    #restartDiv button {
        font-size: x-large;
        border-radius: 38px 38px 38px 38px;
        padding-bottom: 5%;
    }

    #settingsMenu {
        width: 100%;
        margin-top: 10%;
        margin-bottom: 20%;
    }
    #gameplaySettings form-flex {
        flex-direction: column;
        align-items:  center;
    }
    legend {
        font-size: xx-large;
    }
    fieldset {
        font-size: x-large;
    }
    
}